<div class="App">
  <header class="App-header">
    <img src="Octocat.png" class="App-logo" alt="logo" />
    <p>
      Cam's Portfolio 
    </p>
    <p class="small">
      My name is Cameron Greene and I am a UX/UI Developer. I have worked for several companies on UX/UI teams as I work on the front end and back end phases of developing. Giving companies and clients a good user experience with websites, Graphic design, and UI. Now my goal is to now sharpen my skills in User Interface Design but also Graphic Design as I started doing Graphic Design three years ago. I'm now a graduating Student of the Honors-College of University of Maryland Baltimore-County with my M.S in Human Centered Computing. As I am still working in the field. I am diverse and am willing to help in all areas.
  
  <p><a href="https://docs.google.com/presentation/d/1qLafazS1MKgh_GOkVXNtOQw905FHxQ_-YhXHK9OTaDY/edit?usp=sharing">Go to Case Study</a></p> 

<p><a href="https://docs.google.com/document/d/1j_GhYuQblv3QPKDjcEQjlRxloCHXVU8xFg2hcodApBI/edit?usp=sharing">UX/UI Project</a></p> 
<p><a href="https://github.com/GW18451/opulent-space-journey.git">Github react</a></p> 
<p><a href="https://docs.google.com/document/d/1EjWlbhLrN65fPkNg6tYgMN6ghVNvb8Hv/edit?usp=sharing&ouid=111049543810345236158&rtpof=true&sd=true">UX Research 508 Compliance</a></p> 


</body>
</html>
  <p style="text-align: middle;"><em>If you have any Questions?</strong></p>
         <p><a href="www.linkedin.com/in/cameron-greene-18b146223">Linkedin</a><p>
         </html>



